# dependencies
node_modules

# production build output
build

# testing
coverage

# git
.git
.gitignore
.github

# env files
.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
.vscode

# secrets
*.pem

# docker
.dockerignore
Dockerfile

# CI/CD
buildspec.yml
appspec.yml
scripts
